{{ define "cart" }}
<div class="container">
	<div class="row">
		<h1>Cart</h1>
<div class="row">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Slug</th>
					<th>Description</th>
					<th>Price</th>
					<th>Count</th>
				</tr>
			</thead>
			<tbody>
			{{range . }}
			<tr>
				<td><a href="/products/{{ .Product.Id }}">{{ .Product.Name }}</a></td>
				<td>{{ .Product.Slug }}</td>
				<td>{{ .Product.Description }}</td>
				<td>{{ .Product.Price }}</td>
				<td>{{ .Amount }}</td>
				<td>
					<form class="form-horizontal" action="/cart/{{ .Product.Id }}" method="POST">
						<!-- Text input-->
						<div class="form-group">
						<input type="hidden" id="_method" name="_method" value="PUT"></input>
						<input type="hidden" id="count" name="count" value="{{ .NextAmount }}"></input>
						<input type="submit" value="+1"></input>
					</form>
					<form class="form-horizontal" action="/cart/{{ .Product.Id }}" method="POST">
						<!-- Text input-->
						<div class="form-group">
						<input type="hidden" id="_method" name="_method" value="PUT"></input>
						<input type="hidden" id="count" name="count" value="{{ .PrevAmount }}"></input>
						<input type="submit" value="-1"></input>
					</form>
				</td>
			{{ end }}
			</tbody>
		</table>
	</div>
</div>
{{ end }}
