{{ define "products/list" }}
<div class="container">
	<div class="row">
		<h1>Alle Artikel im Shop</h1>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Kurzbeschreibung</th>
					<th>Beschreibung</th>
					<th>Preis</th>
					<th>Verf&uuml;gbare Menge</th>
				</tr>
			</thead>
			<tbody>
			{{range .Products }}
			<tr>
				<td><a href="{{ prefix }}/products/{{ .Id }}">{{ .Name }}</a></td>
				<td>{{ .Slug }}</td>
				<td>{{ .Description }}</td>
				<td>{{ .Price | formatMoney }} EUR</td>
				<td>{{ .Count }}</td>
				<td>
					<form class="form-horizontal" action="{{ prefix }}/cart/" method="POST">
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="count">Menge</label>
							<div class="col-md-4">
								<input id="count" name="count" placeholder="Menge" class="form-control input-md" required="" type="text" value="1">
							</div>
						</div>

						<input type="hidden" id="id" name="id" value="{{ .Id }}"></input>
		  			<button type="submit" class="btn btn-default">In den Warenkorb</button>
					</form>
				</td>
				{{ end }}
			</tbody>
		</table>
	</div>
	{{ if .Member | isAdmin }}
	<div class="row">
		<form class="form-horizontal" action="{{ prefix }}/products/" method="POST">
		<fieldset>
			<!-- Form Name -->
			<legend>New Product</legend>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="name">Name</label>
				<div class="col-md-4">
				<input id="name" name="name" placeholder="Name" class="form-control input-md" required="" type="text">
				<span class="help-block">Name of the new product</span>
				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="slug">Slug</label>
				<div class="col-md-4">
				<input id="slug" name="slug" placeholder="Slug" class="form-control input-md" required="" type="text">
				<span class="help-block">Short description</span>
				</div>
			</div>

			<!-- Textarea -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="desc">Description</label>
				<div class="col-md-4">
					<textarea class="form-control" id="desc" name="desc"></textarea>
				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="price">Price</label>
				<div class="col-md-4">
				<input id="price" name="price" placeholder="Price" class="form-control input-md" required="" type="text">
				<span class="help-block">Price in Cents</span>
				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="count">In stock</label>
				<div class="col-md-4">
				<input id="count" name="count" placeholder="In stock" class="form-control input-md" type="text">
				<span class="help-block"># items in stock</span>
				</div>
			</div>
			</fieldset>

		  <button type="submit" class="btn btn-default">Add</button>
		</form>
	</div>
	{{ end }}

</div>
{{ end }}
